@media screen and (max-width: 750px) {
	.landing {
		background-attachment: scroll !important;
	}
	
	.firstSection {
		padding: 25% 5% 0 5% !important;
		margin: 0 !important;
	}
	
	.firstSection h1 {
		padding-bottom: 10%;
	}
	
	.writtenSection {
		padding-right: 0 !important;
	}
	
	.pictureWebsite {
		width: 100%;
		height: 100%;
	}
	
	.secondSection {
		margin: 8% 5% 0 5% !important;
	}
	
	.towerTakeoverVideo {
		height: 300px;
	}
	
	#lastSecondSection {
		padding-bottom: 25%;
	}
	
	.buttonTopHolder {
		margin-right: 3%;
	}
	
	.horizontalMinus, .horizontalMinus2, .horizontalMinus3, .horizontalMinus4, .horizontalMinus5, .horizontalMinus6 {
		display: flex;
		justify-content: center;
		align-items: center;
	}
    
    .learnMoreContainer {
	   flex-wrap: wrap;
    }
    
    .competitionLink, .eventsLink, .programsLink {
        width: 100%;
        margin-bottom: 10%;
        margin-right: 0 !important;
    }
    
    .learnMoreContainer {
         padding: 5% 5% 15% 5%;
    }
	
	
}