.landing {
	background-image: url("/images/Gallery100.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landingBackground {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(67, 90, 165, 0.4), rgba(165, 67, 95, 0.4));
	display: flex;
	justify-content: center;
	align-items: center;
}

.titleHolder {
	text-align: center;
}

.landing h1 {
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	letter-spacing: 5px;
	line-height: 42px;
}	

.landing h2 {
	color: white;
	font-family: Thin, sans-serif;
	font-size: 20px;
	font-weight: 40;
	line-height: 42px;
	letter-spacing: 6px;
	text-transform: uppercase;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.column {
	height: 200px;
	width: 30%;
	margin-bottom: 2%;
}

.hover-shadow {
	width: 100%;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}


.modal {
  display: none;
  position: fixed;
  z-index: 9999999999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.modal-content {
  margin: auto;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
   animation: opac 0.3s;
 }
 
 @keyframes opac {
   from {
     opacity: 0
   }
   to {
     opacity: 1
   }
 }
 
 .mySlides {
	animation: opac 0.6s;
 }
 
  @keyframes opac {
   from {
     opacity: 0
   }
   to {
     opacity: 1
   }
 }

.download {
	height: 30px;
	width: 30px;
	transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
}

.download:hover {
	opacity: 0.7;
}
 
.close {
  color: white;
  position: absolute;
  top: 50px;
  right: 65px;
  font-size: 70px;
  font-weight: 300 !important;
  z-index: 200 !important;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

.close:hover,
.close:focus {
  color: rgb(213,220,59);
  text-decoration: none;
  cursor: pointer;
}


.mySlides {
  display: none;
  width: 100%;
  height: 95%;
  text-align: center;
  padding: 0;
}

.slidePicture {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slidePicture img {
	height: 100%;
	max-width: 100%;
	object-fit: contain;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
}

.mySlides p {
	font-family: Roboto, sans-serif;
	color: white;
	letter-spacing: 1.5px;
	padding-top: 15px;
	line-height: 30px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin: 50px;
  padding: 15px;
  color: white;
  font-weight: 300 !important;
  font-size: 40px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: rgb(213,220,59) !important;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  font-family: Roboto, sans-serif;
  letter-spacing: 1.5px;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.firstSection {
	background-color: #f0f0f0;
	padding: 8% 20% 8% 20%;
	color: #626262;
}

.firstSection h2 {
	font-family: Roboto, sans-serif;
	text-align: center;
	font-size: 45px;
	font-weight: normal;
}


.galleryTitle {
	font-size: 24px !important;
	padding-top: 3%;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-family: Roboto, sans-serif;
	text-align: center;
	font-weight: normal;
	padding-bottom: 3%;
}

.galleryTitleFirst {
	padding-top: 0 !important;
	font-size: 24px !important;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding-bottom: 3%;
}

#Tower, #Net, #Round , #Clean {
	background-color: rgb(232,245,225);
}

.sticky {
	position: fixed;
	top: 0px;
	width: 100%;
 }
 
  #buttonContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 80px;
	background-color: rgba(232, 245, 225, 0.9) !important;
 }

 
 .insideButtonContainer {
	display: flex;
	justify-content: center;
	background-color: Transparent;
	width: 100%;
	flex-wrap: wrap;
 }
 
 
.eventButton button {
  color: #dbb52f;
  text-transform: uppercase;
  background-color: rgba(25,25,25,0);
  border: 2px solid black;
  z-index: 2;
  padding: 15px 15px;
  color: black;
    -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
  cursor: pointer;
  margin: 15px;
}

.eventButton:hover button {
   color: rgb(96, 156, 14);
}

.eventButton:hover button {
    border-color: rgb(96, 156, 14);
 }

 .toSectionButtons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
 }
 
 .toSectionButtons {
	color: #626262;
	background-color: #f0f0f0;
 }
 
 .toSectionButtons h2 {
	padding-top: 8%;
	font-family: Roboto, sans-serif;
	font-size: 45px;
	font-weight: normal;
 }
 
 #Turning, #Star, #Sky {
	background-color: white;
 }
 
#Gate {
	background-color: white;
 }	
 
 .gallery {
	padding-bottom: 3%;
 }
 
 
