@media screen and (max-width: 750px) { 
	.firstSection {
		padding: 25% 5% 25% 5% !important;
	}
	
	
	.overallSection {
		flex-wrap: wrap;
        padding-top: 8%;
	}
	
	.fixedNewsPhone {
		display: flex !important;
		flex-wrap: wrap;
	}
	
	.fixedNewsPhone p {
		margin-right: 20px;
	}
	
	.fixedNewsPhone {
		border-bottom: 1px solid #626262;
		width: 15%;
		text-align: center;
		line-height: 30px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		width: 100%;
		display: flex;
		padding-bottom: 3%;
	}

	.fixedNewsPhone a {
		color: #626262;
		transition-duration: 0.2s;
	}

	.fixedNewsPhone a:hover {
		color: rgb(158, 163, 60);
	}

	.fixedNews {
		display: none !important;
	}
	
	.news {
		padding: 0;
	}
	
	.titleHolder {
		width: 100% !important;
	}
	
	.newsHolder {
		padding-top: 3%;
		width: 100%;
	}
	
	.news {
		flex-wrap: wrap;
		padding-bottom: 5% !important; 
	}
	
	#lastNews {
		padding-bottom: 0 !important;
	}
	
	.imageHolder  {
		width: 100%;
	}
	
	.imageHolder {
		margin-bottom: 3%;
	}

	.writtenSection {
		width: 100%;
	}
	
}