@media screen and (max-width: 750px) {
	.firstSection {
		padding: 25% 5% 25% 5%;
	}
	
	.firstSection h2 {
		padding-bottom: 8%;
	}	
	
	.landing {
		background-attachment: scroll;
	}
	
	.pdfRubric {
		display: none;
	}

}