.landing {
	background-image: url("/images/TowerTakeover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landingBackground {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(67, 90, 165, 0.6), rgba(85, 125, 30, 0.4));
	display: flex;
	justify-content: center;
	align-items: center;
}

.titleHolder {
	text-align: center;
}

.landing h1 {
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	letter-spacing: 5px;
	line-height: 42px;
}	

.landing h2 {
	color: white;
	font-family: Thin, sans-serif;
	font-size: 20px;
	font-weight: 40;
	line-height: 42px;
	letter-spacing: 6px;
	text-transform: uppercase;
}

.firstSection {
	background-color: #f0f0f0;	
	padding: 8% 20% 8% 20%;
	font-family: Roboto, sans-serif;
	color: #626262;
}

.firstSection h2 {
	font-weight: normal;
	font-size: 45px;
	text-align: center;
	padding-bottom: 3%;
}

.section {
	display: flex;
	justify-content: space-between;
	padding-bottom: 3%;
	padding-top: 3%;
	border-bottom: 1px solid #626262;
}

.textSection {
	width: 47%;
}

.imageHolder {
	width: 50%;
}

.imageHolder img {
	object-fit: cover;
	width: 100%;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	background-color: white;
}

#firstHolder {
	padding-top: 0 !important;
}

#lastHolder {
	padding-bottom: 0 !important;
	border-bottom: 0px solid white;
}

.learnMoreContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.learnMoreButton button {
  color: #dbb52f;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0);
  border: 2px solid rgb(96, 156, 14);
  z-index: 2;
  padding: 15px 15px;
  color: rgb(96, 156, 14);
    -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
  cursor: pointer;
}

.learnMoreButton:hover button {
   color: rgb(46, 74, 7);
}

.learnMoreButton:hover button {
  border-color: rgb(46, 74, 7);
 }
 
.textSection h3 {
	font-size: 24px;
	letter-spacing: 1.5px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.textSection p {
	line-height: 30px;
}

#rubrics {
	background-color: white;
	padding: 8% 25% 8% 25%;
}

#rubrics h3 {
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 15px;
}


.textSectionRubric p {
	line-height: 30px;
	margin-bottom: 15px;
}

.textSectionRubric ul {
	line-height: 30px;
	margin-bottom: 15px;
	padding-left: 30px;
}

.textSectionRubric a {
	color: rgb(96, 156, 14)
}


.pdfRubric {
	width: 100%;
	height: 700px;
	margin-top: 30px;
}

.textSectionRubric {
	margin-bottom: 30px;
}

.textSectionRubric p a {
		color: rgb(96, 156, 14);
		transition-duration: 0.2s;
		-webkit-transition-duration: 0.2s;
	}
	
	.textSectionRubric p a:hover {
		color: rgb(46, 74, 7)
	}
