.landing {
	background-image: url("/images/SponsorBackground.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landingBackground {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(67, 90, 165, 0.4), rgba(130, 105, 179, 0.4));
	display: flex;
	justify-content: center;
	align-items: center;
}

.titleHolder {
	text-align: center;
}

.landing h1 {
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	letter-spacing: 5px;
	line-height: 42px;
}	

.landing h2 {
	color: white;
	font-family: Thin, sans-serif;
	font-size: 20px;
	font-weight: 40;
	line-height: 42px;
	letter-spacing: 6px;
	text-transform: uppercase;
}

.firstSection {
	background-color: #f0f0f0;
	color: #626262;
	font-family: Roboto, sans-serif;
	padding: 8% 25% 8% 25%;
}

.firstSection h2 {
	font-size: 45px;
	text-align: center;
	font-weight: normal;
	padding-bottom: 3%;
}

.firstSection h3 {
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 15px;
}

.firstSection p {
	line-height: 30px;
	margin-bottom: 15px;
}

.imageHolder {
	text-align: center;
}

.imageHolder img {
	margin-bottom: 15px;
	width: 40%;
	margin-top: 15px;
}

.softwareResources {
	color: rgb(30, 90, 125);
}

.robotMesh {
	color: rgb(24, 156, 171);
}

.northwestTech {
	color: rgb(148, 18, 20);
}

.lexisNexis {
	color: rgb(235, 45, 45);
}