

@media screen and (max-width: 750px) {
	.landing {
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	
	.firstSection {
		padding: 25% 5% 25% 5%;
	}	
	
    .larger {
        padding-top: 10%;
    }
	
	
}