<footer>
	<div class = "leftSection">
		<div class = "leftTopSection">
			<div class = "footerLogoHolder">
				<img src = "/images/EXOLogo.png"/>
			</div>
			<div class = "wordsSection">
				<h4>Exothermic Robotics</h4>
				<h5>Redmond, Washington</h5>	
				<a class = "social" href="https://www.facebook.com/exothermicrobotics/" target="_blank" ><i class="fab fa-facebook-f"></i></a>
				<a class = "social" href="https://www.instagram.com/exothermicrobotics/?igshid=xt1q75v9kzqq" target="_blank" ><i class="fab fa-instagram"></i></a>
				<a class = "social" href="https://twitter.com/ExothermicRobo1" target="_blank" ><i class="fab fa-twitter"></i></a>
					<ul class="FooterLinks">
					<li>
						<p>&copy; 2019-2020 Exothermic Robotics Club </p>
					  </li>
					</ul>				  
			</div>
		</div>
	</div>
	<div class = "rightSectionFooter">
		<div class = "blog">
			<h5>The EXO Blog</h5>
			<p>A blog featuring announcements and little blurbs about the newest and latest in the Exothermic club. </p>
		</div>
		<div class = "blogContainer">
			<a href = "/blog/" class="blogButton"><button>Check it Out &rarr;</button></a>
		</div>
	</div>
</footer>