<script>
jQuery(document).ready(function($){
	$('.navbar').css("background-color", "transparent");
	if ($(this).scrollTop() < 270) {
		$('.navbar').css("background-color", "transparent");
		$('.dropDownContentAbout').css("background-color", "transparent");
		$('.dropDownContentOverview').css("background-color", "transparent");
		$('.dropDownContentMedia').css("background-color", "transparent");
		
		$('.dropDownContentAbout').css("box-shadow", "none");
		$('.dropDownContentOverview').css("box-shadow", "none");
		$('.dropDownContentMedia').css("box-shadow", "none");
	} else {
		$('.navbar').css("background-color", "rgba(51,51,51,0.8)");
		$('.dropDownContentAbout').css("background-color", "rgba(51,51,51,0.8)");
		$('.dropDownContentOverview').css("background-color", "rgba(51,51,51,0.8)");
		$('.dropDownContentMedia').css("background-color", "rgba(51,51,51,0.8)");
	}
	$(window).scroll(function(){
		if ($(this).scrollTop() < 270) {
			$('.navbar').css("background-color", "transparent");
			$('.dropDownContentAbout').css("background-color", "transparent");
			$('.dropDownContentOverview').css("background-color", "transparent");
			$('.dropDownContentMedia').css("background-color", "transparent");
			
			$('.dropDownContentAbout').css("box-shadow", "none");
			$('.dropDownContentOverview').css("box-shadow", "none");
			$('.dropDownContentMedia').css("box-shadow", "none");
		} else {
			$('.navbar').css("background-color", "rgba(51,51,51,0.8)");
			$('.dropDownContentAbout').css("background-color", "rgba(51,51,51,0.8)");
			$('.dropDownContentOverview').css("background-color", "rgba(51,51,51,0.8)");
			$('.dropDownContentMedia').css("background-color", "rgba(51,51,51,0.8)");
		}
		
		if ($(this).scrollTop() > 270) {
			$('.navbar').css("background-color", "rgba(51,51,51,0.8)");
			$('.dropDownContentAbout').css("background-color", "rgba(51,51,51,0.8)");
			$('.dropDownContentOverview').css("background-color", "rgba(51,51,51,0.8)");
			$('.dropDownContentMedia').css("background-color", "rgba(51,51,51,0.8)");
		} else {
			$('.navbar').css("background-color", "transparent");
			$('.dropDownContentAbout').css("background-color", "transparent");
			$('.dropDownContentOverview').css("background-color", "transparent");
			$('.dropDownContentMedia').css("background-color", "transparent");
	
			$('.dropDownContentAbout').css("box-shadow", "none");
			$('.dropDownContentOverview').css("box-shadow", "none");
			$('.dropDownContentMedia').css("box-shadow", "none");
		}
		

	});
});
</script>