<header id = "secondBox" class = "navbar">
	<div class = "logoBox">
		<a class = "homepageLogo" href = "{{site.baseurl}}/"><img src = "{{site.baseurl}}/images/EXOLogo.png"></a>
	</div>
	<nav class = "secondBox">
		<ul class = "headerList">
			<li><a href = "{{site.baseurl}}/" {% if page.url == "/" %} style = "color: rgb(213,220,59) !important;" {% endif %}> Home </a></li>
			<div class = "dropDownAbout">
				<button class = "dropButtonAbout" onclick="window.location.href = '{{site.baseurl}}/about/'" {% if page.url == "/about/" %} style = "color: rgb(213,220,59) !important;"{% endif %}> About Us </button>
				<div class = "dropDownContentAbout">
                    {% for item in site.data.navigation %}
                        <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url contains item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
                    {% endfor %}
				</div>
			</div>
			<div class = "dropDownOverview">
				<button class = "dropButtonOverview" onclick="window.location.href = '{{site.baseurl}}/vex-overview/'"  {% if page.url == "/vex-overview/" %} style = "color: rgb(213,220,59) !important;"{% endif %}> VEX Overview </button>
				<div class = "dropDownContentOverview">
                     {% for item in site.data.overview_navigation %}
                        <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url == item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
                    {% endfor %}
				</div>
			</div>
			<div class = "dropDownMedia">
				<button class = "dropButtonMedia" onclick="window.location.href = '{{site.baseurl}}/media/'" {% if page.url == "/media/" %} style = "color: rgb(213,220,59) !important;"{% endif %}> Media </button>
				<div class = "dropDownContentMedia">
					{% for item in site.data.media_navigation %}
                        <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url contains item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
                    {% endfor %}
				</div>
			</div>
			<li><a href = "{{site.baseurl}}/blog/" {% if page.url contains "/blog/" %} style = "color: rgb(213,220,59) !important;"{% endif %}> Blog </a></li>
			<div class = "dropDownMedia">
				<button class = "dropButtonMedia" onclick="window.location.href = '{{site.baseurl}}/resources/'" {% if page.url == "/resources/" %} style = "color: rgb(213,220,59) !important;"{% endif %}> Resources </button>
				<div class = "dropDownContentMedia">
					{% for item in site.data.resources_navigation %}
                        <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url == item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
                    {% endfor %}
				</div>
			</div>
			<li><a class = "sponsors" href = "{{site.baseurl}}/sponsors/" {% if page.url == "/sponsors/" %} style = "color: rgb(213,220,59) !important;"{% endif %}> Sponsors </a></li>
			<li><a class = "contactUs" href = "{{site.baseurl}}/contact-us/" {% if page.url == "/contact-us/" %} style = "color: rgb(213,220,59) !important;"{% endif %}> Contact Us </a></li>
		</ul>
	</nav>
    
<!-- old hamburger menu    
<span id = "Hamburger" class="Hamburger" style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>

 <div id="myNav" class="overlay">
   <span id  = "Hamburger" class="Hamburger" style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <a href="javascript:void(0)" id = "CloseButton" class="CloseButton" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
  <div class = "overlayHolder">
    <a href="{{site.baseurl}}/" {% if page.url == "/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Home</a>
    <a href="{{site.baseurl}}/about/" {% if page.url == "/about/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>About Us</a>
		<div class="phoneDropdown">
		    {% for item in site.data.navigation %}
                <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url contains item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
            {% endfor %}
		</div>
	<a href="{{site.baseurl}}/vex-overview/" {% if page.url == "/vex-overview/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>VEX Overview</a>
		<div class="phoneDropdown">
		    {% for item in site.data.overview_navigation %}
                <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url == item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
            {% endfor %}
		</div>
	<a href="{{site.baseurl}}/media/" {% if page.url == "/media/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Media</a>
		  <div class="phoneDropdown">
		    {% for item in site.data.media_navigation %}
                <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url contains item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
            {% endfor %}
		  </div>
	<a href="{{site.baseurl}}/blog/" {% if page.url contains "/blog/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Blog</a>
	<a href="{{site.baseurl}}/resources/" {% if page.url == "/resources/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Resources</a>
		<div class="phoneDropdown">
		    {% for item in site.data.resources_navigation %}
                <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url == item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
            {% endfor %}
		  </div>
		<a href="{{site.baseurl}}/sponsors/" {% if page.url == "/sponsors/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Sponsors</a>
		<a href="{{site.baseurl}}/contact-us/" {% if page.url == "/contact-us/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Contact Us</a>
	</div>
	</div>
  </div>
  <script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>-->

<!-- start of new hamburger menu -->
<div id="hamburgerMenu" onclick="menuClicked(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
</div>
<nav>
    <ul id="navLinks">
        <div class = "innerNav">
            <li>
                <a href="{{site.baseurl}}/" class = "firstNav" {% if page.url == "/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Home</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/about/" {% if page.url == "/about/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>About Us</a>
                <div class = "minusHolder2">
                    <p id = "plus6" class = "plus">+</p>
                    <p id = "minus6" class = "minus">&#8211;</p>
                </div>
            </li>
                <div class="phoneDropdown" id = "phone1">
                    {% for item in site.data.navigation %}
                        <li>
                            <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url contains item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </div>
            <li>
                <a href="{{site.baseurl}}/vex-overview/" {% if page.url == "/vex-overview/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>VEX Overview</a>
                <div class = "minusHolder2">
                    <p id = "plus5" class = "plus">+</p>
                    <p id = "minus5" class = "minus">&#8211;</p>
                </div>
            </li>
                <div class="phoneDropdown" id = "phone2">
                    {% for item in site.data.overview_navigation %}
                        <li>
                            <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url == item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </div>
            <li>
                <a href="{{site.baseurl}}/media/" {% if page.url == "/media/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Media</a>
                <div class = "minusHolder2">
                    <p id = "plus4" class = "plus">+</p>
                    <p id = "minus4" class = "minus">&#8211;</p>
                </div>
            </li>
                  <div class="phoneDropdown" id = "phone3">
                    {% for item in site.data.media_navigation %}
                      <li>  
                        <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url contains item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
                      </li>
                    {% endfor %}
                  </div>
            <li>
                <a href="{{site.baseurl}}/blog/" {% if page.url contains "/blog/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Blog</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/resources/" {% if page.url == "/resources/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Resources</a>
                <div class = "minusHolder2">
                    <p id = "plus3" class = "plus">+</p>
                    <p id = "minus3" class = "minus">&#8211;</p>
                </div>
            </li>
                <div class="phoneDropdown" id = "phone4">
                    {% for item in site.data.resources_navigation %}
                        <li>
                            <a href = "{{site.baseurl}}{{ item.link }}" {% if page.url == item.link %} style = "color: rgb(213, 220, 59);" {% endif %}>{{ item.name }}</a>
                        </li>
                    {% endfor %}
                  </div>
            <li>
                <a href="{{site.baseurl}}/sponsors/" {% if page.url == "/sponsors/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Sponsors</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/contact-us/" {% if page.url == "/contact-us/" %} style = "color: rgb(213,220,59) !important;" {% endif %}>Contact Us</a>
            </li>
        </div> <!-- end of inner nav -->
    </ul>
</nav>    
    
</header>