<a href="#" class="Scrolltotop"><button onclick="topFunction()" id="mybtn" class="button" title="Go to top"></button></a>
<!--<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
	document.getElementById("mybtn").style.display = "block";
  } else {
	document.getElementById("mybtn").style.display = "none";
  }
}
</script>-->
<script>
window.onscroll = function() {
	scrollFunction();
	myFunction();
};

function scrollFunction() {
if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
	document.getElementById("mybtn").style.display = "block";
  } else {
	document.getElementById("mybtn").style.display = "none";
  }
}

</script>
<script type="text/javascript">
	$("a[href='#']").click(function() {
  $("html, body").animate({ scrollTop: 0 }, "slow");
  return false;
});
</script>
